<html>
    <head>
        <title>Mtaze Message-Board</title>
        <link type="text/css" rel="stylesheet" href="style.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel = "icon" type = "image/png" href = "static/train.png">
    </head>
    <body>
         <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="/index" class="brand-logo"><i class="material-icons">train</i>MTAze</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    <li><a href="/log-out">Log Out</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/trainlineinfo">Train Line Info</a></li>
                    <li><a href = "/alerts">Alerts</a></li>
                </ul>
            </div>
        </nav>
        <h1>MTAze App</h1>
      <div>
        <ul>
          {% for message in events %}
             <li>
              <p>{{ message.message }} - {{ message.date }}</p>
             </li>
          {% endfor %}
        </ul>
       </div> 
       <form method="post" action="/new-message">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator">
                </div>
                <div class="card-content">
                 <label for="message">Enter your message here:</label>
                <input type="text" name="message_name" value="">
            
                <label for="message_date">Date: </label>
                <input type="hidden" name="message_date" id="hidden_date" value="">
                <p id="date"></p>
                <script>
                let d = Date();
                let ds = d.toString().replace(/ GMT.*/,'');
                document.getElementById("date").innerHTML = ds;
                document.getElementById("hidden_date").innerHTML = ds;
                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('select');
                    var instances = M.FormSelect.init(elems, options);
                });
                </script>
            <!--</div>-->
            <!--    <div class="card-reveal">-->
            <!--    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>-->
            <!--    <p></p>-->
            <!--    </div>-->
            <form action="upload.php" method="post" enctype="multipart/form-data">
                Have something to share?
                <input type="file" name="fileToUpload" id="fileToUpload">
                <input type="submit" value="Upload Image" name="submit">
                </form>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Send
            <i class="material-icons right"></i>
            </button>
      </form>
      </div>

      <a href='/remove'>REMOVE</a>
      <footer id='footer ' class="page-footer grey darken-4 grey-text text-lighten-1">
            <div class="container">
            <div class="row">
            <!-- These divs will need classes so that they work as described -->
            <div class="col l2">Contact Info
            <ul>
              <li><a href="https://www.linkedin.com/in/jafnun-suhrawardhy-187181166"><img src="static/linkedin-round.png" width="30" height="30" alt="Linkedin-Round"/></a>Jafnun</li>
              <li><a href="https://www.linkedin.com/in/reina-palacios-13751b146/?trk=join-al"><img src="static/linkedin-round.png" width="30" height="30" alt="Linkedin-Round"/></a>Reina</li>
              <li><a href="https://www.linkedin.com/in/joshua-n-733172142/"><img src="static/linkedin-round.png" width="30" height="30" alt="Linkedin-Round"/></a>Josh</li>
            </ul>
            </div>
            <div class="col l2">Company content
            <ul>
               <li><a href="http://web.mta.info/maps/submap.html">MTA</a></li> 
            </ul>
            </div>
            <div class="col l2">Communities content</div>
            <div class="col l2">Useful links content</div>
            </div>
             </div>
        </footer>
    </body>
</html>

 