<html>
    <head>
        <title>Welcome to MTaze!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="static/css/style.css" type="text/css" rel="stylesheet"/>
        <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel = "icon" type = "image/png" href = "static/train.png"> 
    <body>
        <nav>
            <div class="nav-wrapper grey darken-3">
                <a href="#!" class="brand-logo"><i class="material-icons">train</i>MTAze</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href = "/community-board">Alerts</a></li>
                </ul>
            </div>
        </nav>
    <div class = 'container'>
        <h1 class='center-align'>MTAze</h1>
    </div>
    <div class = 'container'>
        <div class='login'>
            <form method="post" action="/login">
                <label for="username">Username</label>
                <input type="text" name="username" value="">
                <label for="password">Password</label>
                <input type="password" name="password" value="">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
        <a href="/signup">Sign Up Here!</a>
    </body>
    
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="static/js/materialize.js"></script>
      <script src="static/js/init.js"></script>
</html>

